* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.main-heading {
  text-align: center;
}

.underline {
  display: block;
  width: 10rem;
  height: 0em;
  border: 1px solid blueviolet;
  margin: auto;
  margin-top: 1rem;
}

.main-page-container {
  border: 2px solid blueviolet;
  color: white;
  width: 40vw;
  margin: auto;
  margin-top: 6rem;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.main-page-container:hover {
}

h3 {
  color: black;
  margin-top: 1rem;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  margin-top: 1rem;
  width: 6rem;
}

.bx {
  font-size: 4rem;
}

.bxl-typescript {
  color: rgb(10, 142, 250);
}

.bxl-javascript {
  color: rgb(215, 215, 6);
}
.bxl-react {
  color: cyan;
}
.bxl-nodejs {
  color: rgb(141, 212, 34);
}
.bxl-mongodb {
  color: rgb(100, 158, 13);
}
.main-content {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
  margin: auto;
}
